@model Model.Weed

@{
    ViewBag.Title = "About Tegridy";
}

<div class="about-page">

    <h1>Welcome To Tegridy Farm Online Weed Shop!</h1>

    <p>We Belive in making weed great again</p>

    <p>Wheter you are Young and Wild&Free or an Old fart Rolling like a Stone, You gotta have some Tegridy!</p>

</div>